# Dependencies 
node_modules/ 
 
# Environment secrets 
backend/.env 
 
# Uploaded user files 
backend/uploads/avatars/* 
backend/uploads/posts/* 
 
# Keep folder structure 
!backend/uploads/avatars/.gitkeep 
!backend/uploads/posts/.gitkeep 
 
# OS files 
.DS_Store 
Thumbs.db 
 
# Logs 
*.log 
npm-debug.log* 
